* {
 margin: 0px;
 padding: 0px;
 font-family: consolas, tahoma, arial;
 color: #eeeeee;
 transition: all 0.6s !important;
}

html {
 scroll-behavior: smooth !important;
}

body {
 background: #100e17;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 align-content: center;
 flex-direction: column;
 overflow: scroll;
 padding-bottom: 200px;
}

/* Start Navbar */
.nav {
 width: 100%;
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 15px 0px;
 position: sticky;
 top: 0px;
 left: 0px;
}

.navFixed {
 background: linear-gradient(to right, #33333371, #333333, #33333371);
 padding: 7px 0px;
}

.nav .navItem a {
 display: inline-block;
 margin: 0px 8px;
 color: #fff !important;
 text-decoration: none;
}

.nav .viewGit {
 background: #100e17;
 padding: 5px 10px;
 border-radius: 5px;
 display: inline-block;
 color: #fff !important;
 text-decoration: none;
 text-align: center !important;
}

.nav img {
 width: 35px;
}

/* End Navbar */

/* Start Demo */
.firstWrap {
 width: calc(100% - 75px);
 height: calc(100vh - 75px);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 20px;
}

.secondWrap,
.thirdWrap,
.content {
 width: calc(100% - 75px);
 height: calc(100% - 75px);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 20px;
}

.firstWrap {
 background: #22222283;
}

.secondWrap {
 background: #33333383;
}

.thirdWrap {
 background: #44444483;
}

.content {
 background: #55555583;
 flex-direction: column;
 padding: 30px;
}

.content h2,
.content p {
 display: block;
 margin-bottom: 20px;
 width: 90%;
}

.autoWrite {
 color: #fff;
}

/* End Demo */

/* Start Article Effect */
#articleEffect {
 margin: 100px 0px !important;
 background: #100e17b6;
 width: 100% !important;
 border-radius: 10px;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.articleEffect {
 padding: 50px !important;
 display: block;
}

/* End Article Effect */

/* Start Docs */
#docs {
 background: #222222d3;
 padding: 60px 30px;
 border-radius: 30px;
 margin-top: 100px;
 width: 90%;
}

#docs h1 {
 text-align: center;
 margin: 30px 0px;
}

#docs p {
 background: #111111e0;
 padding: 20px;
 margin: 10px 0px;
 text-align: left;
}

.docsLink {
 background: #100e17;
 color: #fff;
 text-decoration: none;
 padding: 7px 15px !important;
 border-radius: 2px;
 margin: 0px 10px;
}

.intro,
.intro1,
.intro2,
.intro3 {
 user-select: all;
}
.userSelect{
 user-select: all !important;
}

.introOn {
 animation: zoom 2s 1 ease-in-out;
 background: #555555 !important;
}
.refresh{
 color:darkred;
 font-size:1rem;
}
@keyframes zoom {
 from {
  transform: scale(1.5);
 }

 to {
  transform: scale(1);
 }
}

.explain {
 width: 80%;
 background: #100e17;
 margin: auto;
 padding: 20px;
 line-height: 25px;
}

.expln {
 line-height: 30px;
}
.highLight{
 background: #fff;
 color:#333;
 display: inline-block;
 padding:2px 5px;
 animation:highLight 3s infinite alternate;
 border-radius:5px;
 user-select: all;
}
@keyframes highLight{
 from{transform: scale(0.9);}
 to{transform: scale(1);}
}
/* End Docs */

/* Round Start */
.round,
.round2,
.round3,
.round4,
.round5,
.round6,
.round7 {
 width: calc(100% - 60px);
 height: calc(100% - 60px);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 50%;
 box-shadow: 0px 0px 10px 0px #555;
}

.round {
 box-shadow: unset;
 width: 650px;
 height: 450px;
 background: #111111;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 margin: auto;
 z-index: -1;
}

.round2 {
 background: #222222;
 box-shadow: unset;
}

.round3 {
 background: #333333;
}

.round4 {
 background: #444444;
}

.round5 {
 background: #555555;
}

.round6 {
 background: #666666;
}

.round7 {
 background: #777777;
}

/* End Round */


/*  Responsive Design */
@media (max-width: 650px) {

 .firstWrap,
 .secondWrap,
 .thirdWrap,
 .content {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
 }

 .round {
  width: 90%;
  height: 90vh;
 }
}

@media (max-width: 450px) {
 .autoWrite {
  display: block;
 }

 .navGit {
  display: none;
 }
}